* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,p,hr {
	margin: 0;
	padding: 0;
}
ul,ol {
	list-style: none;
}
i,em{
	font-style:normal;
}
html {
	font-size: 37.5px;
}
body{
	color: #333;
	background-color: #fff;
  word-break: break-all;
	overflow-y: scroll;
	font-size:0;
}
a {
	text-decoration:none;
	outline:0;
	cursor:pointer;
	color: inherit;
}
button,
input,
textarea{
	font: inherit;
	line-height: inherit;
	vertical-align: middle;
	outline: 0;
}
button {
	padding: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}
img{
	max-width:100%;
	font-size: 10px;
	border: none;
	vertical-align: middle;
}
table {
	max-width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.page{
	min-width: 320px;
	max-width: 640px;
	margin: auto;
}
.hidden{
	display: none !important
}
.elli{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.elli-s {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;  
	max-height: 1.5em;  
	text-overflow: ellipsis;
	overflow: hidden;
}
.elli-multi{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height:3em
}
.content{
	margin-top:30px;
}

@keyframes circles {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes circles {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.c-toast {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 320px;
    max-width: 640px;
    margin: auto;
    background: transparent;
    z-index: 3;
}

.c-toast:before {
    content: '';
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, .7);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.c-toast span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: circles 1s linear infinite;
    -webkit-animation: circles 1s linear infinite;
}
